/*BEGIN MEYER RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END MEYER RESET*/

* {
  --color-4: #285430;
  --color-3: #5f8d4e;
  --color-2: #a4be7b;
  --color-1: #e5d9b6;
}

body {
  font-family: sans-serif;
}

header {
  color: var(--color-1);
  position: fixed;
  width: 100%;
}

.header-bar {
  width: 100%;
  display: flex;
  background-color: var(--color-4);
  outline: solid 2px black;
}

.header-logo {
  width: 60px;
  text-align: right;
  font-size: 30px;
  padding: 15px 0;
}

.header-label {
  padding: 15px 6px;
  text-align: left;
  font-size: 30px;
  width: 100%;
}

.side-bar {
  width: fit-content;
  height: 100vh;
  background-color: var(--color-4);
  position: fixed;
  margin-top: 62px;
  outline: 2px solid black;
}

.projects {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px 0;
}

.project-heading {
  display: flex;
  justify-content: space-between;
}

.project-indicator {
  align-self: center;
}

.project,
.add-project {
  margin: 10px 10px;
  background-color: var(--color-2);
  color: var(--color-4);
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  outline: 2px solid var(--color-1);
  border: none;
  max-width: 104px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.add-task {
  margin: 10px 10px;
  background-color: var(--color-2);
  color: var(--color-4);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  outline: 2px solid var(--color-4);
  border: none;
}

.project:hover,
.add-project:hover,
.add-task:hover,
.remove-task:hover {
  cursor: pointer;
  /* color: var(--color-2);
  background-color: var(--color-4); */
}

.todo-list-wrapper {
  background-color: var(--color-3);
}

.todo-list-tasks {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 127px;
  height: 100vh;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: var(--color-2);
  color: var(--color-4);
  padding: 10px;
  margin: 10px;
  outline: solid 1px black;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.task:hover {
  cursor: pointer;
}

.project-indicator {
  padding-left: 15px;
  font-weight: 500;
  font-size: 35px;
  color: var(--color-1);
}

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 5px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 2px solid var(--color-4);
  color: var(--color-1);
}

.task-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.remove-task {
  background-color: var(--color-1);
  color: var(--color-4);
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  outline: 3px solid var(--color-4);
  border: none;
  font-weight: bold;
  height: 25px;
  width: 25px;
  justify-self: center;
}

.displayed-task {
  color: var(--color-1);
  position: relative;
  left: 10vw;
  top: 10vh;
}

.task-card {
  display: flex;
  flex-direction: column;
  border: solid 5px var(--color-1);
  background-color: var(--color-4);
  border-radius: 25px;
  width: 80vw;
  height: auto;
  padding-bottom: 20px;
}

.task-card-name {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 40px;
  height: fit-content;
  width: fit-content;
}

.task-card-title-bar {
  display: flex;
}

.close-task-button {
  margin-right: 10px;
  margin-left: auto;
  margin-top: 10px;
  height: 48px;
}

.close-task-button:hover {
  cursor: pointer;
}

.close-icon-svg {
  fill: var(--color-4);
  background-color: var(--color-1);
  border-radius: 50%;
}

.task-card-details {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 4fr;
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 10fr;
  font-size: 20px;
}

.close-icon-svg:hover {
  opacity: 0.8;
}

.task-card-priority-dropdown,
.task-card-due-date-select,
.task-card-user-input-text,
.task-card-status-dropdown {
  border-radius: 5px;
  font-size: 15px;
  background-color: var(--color-3);
  color: var(--color-1);
  font-family: sans-serif;
  resize: none;
}

.task-card-due-date-select {
  border-style: none;
}
